
*{
    box-sizing: border-box;
    margin: 0;
}

header{
    color: white;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
    height: 15vh;
    width: 100%;
    background-color: red;
    margin-top: 2vh;
}

body{
    background-color: blue;
}

.container{
    display:flex;     
    justify-content: space-evenly;
    height: 70vh;
    align-items: center;
}

.plancontainer{
    display: flex;              
    flex-direction: column;
    justify-content: space-around;
    align-items: center;            /*.plancontainer esta heredando esta propiedad a sus hijos*/
    border: solid black 1px;
    border-radius: 5%;
    width: 30vh;
    height: 50%;
    background-color: white;

}

button{
    border: solid black 1pt;
    border-radius: 12%;
}
button:hover{
    background-color: red;
    color: aliceblue;
}

.plan{
    text-align: center;
}



footer{
    height: 15vh;
    text-align: center;
}